/**
 * @package		ChurchAmp_Sundays
 * @version		5.0.0
 * @since			1.0.0
 * @author		Endeavr Media <support@endeavr.com>
 * @copyright		Coppyright (c) 2013, Jason Loftis (jLOFT / Endeavr / ChurchAmp)
 * @link			http://churchamp.com/plugins/sundays
 * @license		http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
 */

#icon-edit.icon32.icon32-posts-sundays:before { font-family:'ss-pika' !important; font-size:28px; content: '\2600'; }
.icon16.icon-sundays:before,#adminmenu .menu-icon-sundays div.wp-menu-image:before { font-family:'ss-pika' !important; font-size:16px; content: '\2600'; }